@page "/BookList"
@page "/BookList/{Username}"
@using Microsoft.AspNetCore.Identity
@using BookTracker.App.Models
@using System.Security.Claims

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h1>@Username</h1>

@code {
    [Parameter]
    public string Username { get; set; }

    public ApplicationUser? User { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(Username))
        {
            AuthenticationState authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
            ClaimsPrincipal claims = authState.User;
            User = await UserManager.GetUserAsync(claims);
            Username = User.UserName;
        }
        else
        {
            User = await UserManager.FindByNameAsync(Username);
            if (User is null)
                Username = "Not Found";
        }
    }
}